# Ignore csv files,since available on jaea website
*.csv
/mina_niho/*.csv/
/*.csv/
rsconnect/

# ignore folder of questions
/Sato-san/
*ignore data
/csv/
*.pdf

# ignore Mac Finder's metadata file
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

#fuk population
/fukupop/*.pdf
/fukupop/*.png
/fukupop/*.txt
/fukupop/*.csv
/fukupop/*.xlsx

#fuk land use
/landuse/
/landuse/*.pdf
/landuse/*.png
/landuse/*.txt
/landuse/*.csv
/landuse/*.xml

#fuk contours
/contour/
/countour/*.pdf
/countour/*.png
/countour/*.txt
/countour/*.csv
/countour/*.kmz
/countour/*.kml

#fuk wind speed
